<h2 mat-dialog-title>{{'SCHEDULEAPPT' | translate}}</h2>
<mat-dialog-content>
  <h3>On 15 minute intervals</h3>
  <p>Clients can book at 02:00PM, 02:15PM, 02:30PM, 02:45PM, etc.</p>
  <h3>On 30 minute intervals</h3>
  <p>Clients can book at 02:00PM, 02:30PM, 03:00PM, 03:30PM, etc.</p>
  <h3>On hourly intervals</h3>
  <p>Clients can book at 02:00PM, 03:00PM, 04:00PM, 05:00PM, etc.</p>
  <h3>Based on service duration</h3>
  <p>Clients can book based on the total time their service takes and what is currently available in your schedule (i.e. a 2.5 hour service will allow clients to book at 12:00PM, 02:30PM, 05:00PM, etc.)</p>
</mat-dialog-content>
  <button class="close" mat-button mat-dialog-close><img src="assets/images/close.png" alt="Close"></button>
