<div class="main-card">
    <div class="setting_list">
        <div class="row">
            <div class="col-md-6">{{'NOTIFICATION'| translate}}</div>
            <div class="col-md-6 alignright"><mat-slide-toggle></mat-slide-toggle></div>
        </div>
    </div>
    <div class="setting_list">
        <div class="row">
            <div class="col-md-6">{{'LANG'| translate}}</div>
            <div class="col-md-6 alignright">
                <ul>
                    <li class="active">En <img src="assets/images/flag_en.png" alt="English"></li>
                    <li>Ar <img src="assets/images/flag_ar.png" alt="Arabic"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="setting_list">
        <div class="row">
            <div class="col-md-6">{{'ONLINBOOKING'| translate}}</div>
            <div class="col-md-6 alignright"><mat-slide-toggle></mat-slide-toggle></div>
        </div>
    </div>
    <div class="setting_list">
        <div class="row">
            <div class="col-md-8">{{'SCHEDULEAPPT'| translate}} <button mat-raised-button matTooltip="{{'SCHEDULEAPPT'| translate}}" [matTooltipPosition]="position.value" aria-label="Button that displays a tooltip in various positions"><img src="assets/images/info.png" alt="Info"></button></div>
            <div class="col-md-4 alignright">  
             <mat-form-field>
                <mat-label>{{'SCHEDULEAPPT'| translate}}</mat-label>
                <mat-select (click)="openDialog()" [disableRipple]="true">
                  <mat-option *ngFor="let appointment of appointments" [value]="appointment.value">
                    {{appointment.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field></div>
        </div>
    </div>
    <div class="setting_list">
        <div class="row">
            <div class="col-md-6">{{'ALLOWMULTISETTINGS'| translate}}</div>
            <div class="col-md-6 alignright"><mat-slide-toggle></mat-slide-toggle></div>
        </div>
    </div>
    <div class="setting_list">
        <div class="row">
            <div class="col-md-6">{{'HOURSPRIORBOOKING'| translate}}</div>
            <div class="col-md-6 alignright">3</div>
        </div>
    </div>
    <div class="setting_list">
        <div class="row">
            <div class="col-md-6"><button mat-raised-button (click)="openDialog2()" [disableRipple]="true">{{'NUMOFBOOK'| translate}}</button></div>
            <div class="col-md-6 alignright">8</div>
        </div>
    </div>
    <div class="setting_list">
        <div class="row">
            <div class="col-md-6">{{'DEACACC'| translate}} 
                <button  [disableRipple]="true" mat-raised-button matTooltip="{{'DEACTEXT'| translate}}" [matTooltipPosition]="position.value" aria-label="Button that displays a tooltip in various positions"><img src="assets/images/info.png" alt="Info"></button>
            </div>
            <div class="col-md-6 alignright"><mat-slide-toggle></mat-slide-toggle></div>
        </div>
    </div>
    <div class="text-center"><a href="#" class="link">{{'DELACC'| translate}}</a></div>
</div>


