<div class="main-card">
    <div class="row">
        <div class="col-md-6 top_view"><img [src]="url" alt="User Add"><span class="user_name">{{detail?.fullname || 'NA'  | titlecase}}</span></div>
        <div class="col-md-6 alignright">
            <ul class="inline">
                <li><a class="btn btn-export" href="javascript:void(0);">PDF</a></li>
                <li><button class="action_btn red" (click)="openDialog()"><img src="assets/images/email_pink.png" alt="Email"></button></li>
                <li><button><img src="assets/images/print.png" alt="Print"></button></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 label">Date:</div>
                    <div class="col-md-9 description">{{detail?.bookDateTime | date : 'dd, MMM yyyy '}}</div>
                    <div class="col-md-3 label">Time:</div>
                    <div class="col-md-9 description">{{detail?.bookDateTime | date : 'h:mm a '}}</div>
                    <div class="col-md-3 label">Booking ID:</div>
                    <div class="col-md-9 description">{{detail?.booking_id || 'NA'}}</div>
                    <div class="col-md-3 label">Staff Name:</div>
                    <div class="col-md-9 description">{{detail?.staf || 'NA' | titlecase}}</div>
                    <div class="col-md-3 label">Address:</div>
                    <div class="col-md-9 description">246 Chris Avenue, New York</div>
                    <div class="col-md-12 label">Booking Location:</div>
                    <div class="col-md-12 description">
                        <div class="map full_width">
                            <agm-map [latitude]="detail?.loc[1]" [longitude]="detail?.loc[0]"
                                [zoomControl]="true">
                                <agm-marker [latitude]="detail?.loc[1]" [longitude]="detail?.loc[0]"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="col-md-3 label">Service At:</div>
                    <div class="col-md-9 description">Salon</div>
                    <div class="col-md-12 label">Services:</div>
                    <div class="col-sm-12" *ngFor="let element of detail?.service; let i =index">
                        <div class="col-md-3 label">{{element?.title | titlecase}}<span>{{detail?.staf || 'Anybody' | titlecase}}</span></div>
                        <div class="col-md-9 description alignright">${{element?.cost}}<span>{{element?.startDateTime | date : 'h:mm a'}}{{' - '}}{{element?.endDateTime | date : 'h:mm a'}}</span></div>
                    </div>
                    <div class="col-md-12 text-center"><a href="javascript:void(0);" class="btn btn-submit">Mark as Complete</a></div>
                </div>
            </div>
            <div class="col-md-3 mobile_hidden"></div>
        </div>

        </div>
    </div>
