.main-right .btn-submit{margin: 0px 0px 10px;}
p.color.error{top:0px}

#slideshow {
<<<<<<< HEAD
  display: block;
}

#image {
  opacity: 0;
  -webkit-transition: opacity 1.0s linear 0s;
  transition: opacity 1.0s linear 0s;
}
=======
    display: block;
  }
  
  #image {
    opacity: 0;
    -webkit-transition: opacity 1.0s linear 0s;
    transition: opacity 1.0s linear 0s;
  }
>>>>>>> 1de5e4d37c333971159d1791d0f5db23497e0a36
