<div class="main_bg">
    <div class="fixed-nav">
        <ul>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 main-left">
                <div class="full-vertical">
                <img class="on_board" src="assets/images/img_onboard_1.png" alt="Login">
                <div class="head">Your Service Menu is <span>Online</span></div>
            </div>
            </div>
            <div class="col-md-6 main-right">
                <div class="fixed-select">
                    <button mat-button [matMenuTriggerFor]="beforeMenu" [disableRipple]="true">En <img src="assets/images/flag_en.png" alt="England"><img class="drop_img" src="assets/images/dropdown.png" alt=""></button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                      <button mat-menu-item>Ar <img src="assets/images/flag_ar.png" alt="England"></button>
                    </mat-menu>
                </div>
                <div class="full-vertical custom-width">
                    <div class="logo"><img src="assets/images/tie_logo_black.png" alt="Logo"></div>
                    <h1 class="head">Login</h1>
                    <div class="login-form">
                        <form action="">
                        <mat-form-field>
                            <span class="email-img"><img src="assets/images/envelope.png" alt="envelope"></span>
                          <input matInput placeholder="Email" class="form-control"> 
                        </mat-form-field>
                        <mat-form-field>
                            <span class="email-img pass"><img src="assets/images/lock.png" alt="envelope"></span>
                            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" class="form-control pass-space">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                          <p class="right"><a [routerLink]="['/auth/forgot']">Forgot Password?</a></p>
                          <button type="submit" class="btn btn-submit">Log In</button>
                        </form>
                        </div>
                </div>                
            </div>
        </div>
    </div>
</div>