<div class="main_bg">
    <div class="fixed-nav">
        <ul>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 main-left">
                <div class="full-vertical">
                    <img class="on_board" src="assets/images/img_onboard_1.png" alt="Login">
                    <div class="head">Your Service Menu is <span>Online</span></div>
                </div>
            </div>
            <div class="col-md-6 main-right">
                <app-auth-header></app-auth-header>
                <div class="full-vertical custom-width">
                    <div class="logo"><img src="assets/images/tie_logo_black.png" alt="Logo"></div>
                    <h1 class="head">{{'LOGIN'| translate}}</h1>
                    <div class="login-form">
                        <form (ngSubmit)="onSubmit()" [formGroup]="loginfrm">
                            <mat-form-field>
                                <span class="email-img"><img src="assets/images/envelope.png" alt="envelope"></span>
                                <input matInput placeholder="{{'PLACEHOLDERLEMAIL'| translate}}" class="form-control" formControlName="email"
                                    maxlength="50">
                            </mat-form-field>
                            <div
                                *ngIf="(submitted) && getControl.email.errors">
                                <p class="color" *ngIf="getControl.email.errors.required">{{'LOGINEMAIL'| translate}}</p>
                                <p class="color" *ngIf="!getControl.email.errors.required && getControl.email.errors.invalidEmailAddress">{{'LOGINVALIDEMAIL'| translate}}</p>
                            </div>
                            <mat-form-field>
                                <span class="email-img pass"><img src="assets/images/lock.png" alt="envelope"></span>
                                <input matInput placeholder="{{'PLACEHOLDERLPASS'| translate}}" formControlName="pass" maxlength="20"
                                    [type]="hide ? 'password' : 'text'" class="form-control pass-space">
                                <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div
                                *ngIf="(submitted) && getControl.pass.errors">
                                <p class="color" *ngIf="getControl.pass.errors.required">{{'LOGINPASS'| translate}}</p>
                                <!-- <p class="color" *ngIf="getControl.pass.errors.minlength ">Incorrect password or
                                    email.</p> -->
                            </div>
                            <p class="right"><a [routerLink]="['/auth/forgot']">{{'FRGTPASS' |  translate}}?</a></p>
                            <button type="submit" class="btn btn-submit">{{'LOGINBTN' |  translate}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>