<div class="main-card">
    <div class="custom_form">
        <form [formGroup]='change' (ngSubmit)='changePassword()'>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/changepassword.png" alt="envelope"></span>
                <input matInput placeholder="{{'PLACEHOLDERLCPASS'| translate}}" [type]="ohide ? 'password' : 'text'" maxlength="20" class="form-control pass-space" formControlName='oldPassword'>
                <button mat-icon-button matSuffix (click)="ohide = !ohide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ohide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="(submitted) && getControl.oldPassword.errors">
                <p class="color error" *ngIf="getControl.oldPassword.errors.required">{{'CURRENTPASS'| translate}} </p>
              </div>
              <mat-form-field>
                <span class="email-img pass"><img src="assets/images/changepassword.png" alt="envelope"></span>
                <input matInput placeholder="{{'PLACEHOLDERLNPASS'| translate}}" [type]="nhide ? 'password' : 'text'" maxlength="20" formControlName='newPassword' class="form-control pass-space">
                <button mat-icon-button matSuffix (click)="nhide = !nhide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{nhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="(submitted ) && getControl.newPassword.errors">
                <p class="color error" *ngIf="getControl.newPassword.errors.required">{{'RESETPASSREQ'| translate}}</p>
                <!-- <p class="color error" *ngIf="getControl.newPassword.errors.minlength">{{'PASSPATTERN'| translate}}</p> -->
                <span *ngIf="!getControl.newPassword.errors.required">
                  <p class="color error" *ngIf="getControl.newPassword.errors.invalidPassword">{{'PASSPATTERN'| translate}}</p>
                </span>
              </div>
              <mat-form-field>
                <span class="email-img pass"><img src="assets/images/changepassword.png" alt="envelope"></span>
                <input matInput placeholder="{{'PLACEHOLDERLCONFIRMPASS'| translate}}" [type]="chide ? 'password' : 'text'" maxlength="20"  formControlName='confirmPassword' class="form-control pass-space">
                <button mat-icon-button matSuffix (click)="chide = !chide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="(submitted) && getControl.confirmPassword.errors">
                <p class="color error" *ngIf="getControl.confirmPassword.errors.required">{{'RESETPASSCNFREQ'| translate}}</p>
                <span *ngIf="!getControl.confirmPassword.errors.required">
                  <p class="color error" *ngIf="(getControl.confirmPassword.invalid)">{{'RESETPASSNOTMATCH'| translate}}</p>
                </span>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-submit">Save</button>
              </div>
            </form>
    </div>
</div>