<div class="main-card">
    <div class="custom_form">
        <form action="">
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/email.png" alt="envelope"></span>
                <input matInput placeholder="Email" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img phone"><img src="assets/images/mobile.png" alt="envelope"></span>
                <input matInput placeholder="Phone" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/description.png" alt="envelope"></span>
                <textarea matInput placeholder="Description" class="form-control"></textarea>
            </mat-form-field>
            <div class="text-center">
                <button type="submit" class="btn btn-submit">Send Feedback</button>
            </div>
        </form>
    </div>
</div>