<div class="main-card">
    <div class="custom_form">
        <form action="">
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/category_form.png" alt="Code"></span>
                <input matInput placeholder="Coupon Code" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/price_form.png" alt="Discount"></span>
                <input matInput placeholder="Discount" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/price_form.png" alt="Discount"></span>
                <input matInput placeholder="Max. Discount Amount" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/service.png" alt="envelope"></span>
                <mat-label>Service At</mat-label>
                <mat-select>
                  <mat-option *ngFor="let service of services" [value]="service.value">
                    {{service.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <span class="email-img pass"><img src="assets/images/edit-user.png" alt="Added"></span>
                <input matInput placeholder="Added By" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/edit-staff.png" alt="Uses"></span>
                <input matInput placeholder="Total Uses" class="form-control">
            </mat-form-field>
            <div class="row">
                <div class="col-md-6 left">
                    <mat-form-field>
                        <span class="email-img pass"><img src="assets/images/calendar_form.png" alt="From"></span>
                        <input matInput placeholder="From" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-md-6 right">
                    <mat-form-field>
                        <span class="email-img pass"><img src="assets/images/calendar_form.png" alt="From"></span>
                        <input matInput placeholder="To" class="form-control">
                    </mat-form-field>
                </div>
            </div>
              <mat-form-field>
                <span class="email-img pass"><img src="assets/images/description.png" alt="envelope"></span>
                <textarea matInput placeholder="Description" class="form-control"></textarea>
            </mat-form-field>
            
            <div class="text-center">
                <button type="submit" class="btn btn-submit">Save</button>
            </div>
        </form>
    </div>
</div>