<div class="fixed-support">
    <!--<img src="assets/images/flot_btn.png" alt="Support">-->

    <button class="chatbox-open"><img src="assets/images/support.png" alt="Support"></button>
    <button class="chatbox-close"><img src="assets/images/close_white.png" alt="Support"></button>
    <section class="chatbox-popup">
        <div class="top_chat">
            <div class="left_name"><img src="assets/images/noti-pro.png" alt="Notification Profile">John Doe <span class="status">8 mins ago</span></div>
        </div>
        <div class="content">
            <div class="absolute_text">
                <div class="message_chat received">Hello <span class="right_time">10:21 AM</span></div>
                <div class="message_chat sent">Hi, how can I help you? <span class="right_time">10:21 AM</span></div>
                <div class="message_chat received">Lorem Ipsum is simply dummyLorem Ipsum is simply dummyLorem Ipsum is simply dummy<span class="right_time">10:21 AM</span></div>
                <div class="message_chat sent">Lorem Ipsum is simply dummy text of the printing<span class="right_time">10:21 AM</span></div> 
            </div>
         </div>
        <div class="type_msg">
           <input type="text" placeholder="Type message"> 
           <span class="right"><input type="submit" class="btn btn-chat" value="Send"></span>
        </div>
    </section>
</div>
