<div class="main_bg">
    <div class="fixed-nav">
        <ul>
            <li></li>
            <li></li>
            <li class="active"></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 main-left">
                <div class="full-vertical">
                    <img class="on_board" src="assets/images/img_onboard_3.png" alt="Login">
                    <div class="head">boost your reputation with <span>reviews</span></div>
                </div>
            </div> 
            <div class="col-md-6 main-right freelancer">
                <div class="fixed-back"><a [routerLink]="['/auth/login']"><i class="fa fa-angle-left"></i></a></div>
                <app-auth-header></app-auth-header>
                <div class="full-vertical custom-width">
                    <div class="logo"><img src="assets/images/tie_logo.png" alt="Logo"></div>
                    <h1 class="head" *ngIf="!isSuccess">{{'FREERESETPASS'| translate}}</h1>
                    <p class="text-center" *ngIf="!isSuccess">{{'ENTRNWPASS'| translate}}</p>
                    <h1 class="head" style="color:darkgreen; text-transform: unset;" *ngIf="isSuccess">{{'SUCCESSRESET'| translate}}</h1>
                    <div class="login-form" *ngIf="!isSuccess">
                        <form name="reset" (ngSubmit)="resetPassword()" [formGroup]="reset">
                            <mat-form-field>
                                <span class="email-img pass"><img src="assets/images/password-free.png"
                                        alt="envelope"></span>
                                <input matInput placeholder="{{'PLACEHOLDERLNPASS' | translate}}"
                                    [type]="nhide ? 'password' : 'text'" maxlength="20"
                                    (keydown.space)="$event.preventDefault()" formControlName='newPassword'
                                    class="form-control">
                                <button type="button" mat-icon-button matSuffix (click)="nhide = !nhide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{nhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div
                                *ngIf="(submitted) && getControl.newPassword.errors">
                                <p class="color error" *ngIf="getControl.newPassword.errors.required">{{'RESETPASSREQ'| translate}}
                                </p>
                                <!-- <p class="color error" *ngIf="getControl.newPassword.errors.minlength ">{{'PASSPATTERN'| translate}}</p> -->
                                <span *ngIf="!getControl.newPassword.errors.required">
                                    <p class="color error" *ngIf="getControl.newPassword.errors.invalidPassword">{{'PASSPATTERN'| translate}}</p>
                                </span>
                            </div>
                            <mat-form-field>
                                <span class="email-img pass"><img src="assets/images/password-free.png" alt="envelope"></span>
                                <input matInput placeholder="{{'RESTPLACEHOLDERLCONFIRMPASS' | translate}}" [type]="chide ? 'password' : 'text'"
                                    maxlength="20" (keydown.space)="$event.preventDefault()"
                                    formControlName='confirmPassword' class="form-control">
                                <button type="button" mat-icon-button matSuffix (click)="chide = !chide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div
                                *ngIf="(submitted) && getControl.confirmPassword.errors">
                                <p class="color error" *ngIf="getControl.confirmPassword.errors.required">{{'RESETPASSCNFREQ'| translate}}</p>
                                <span *ngIf="!getControl.confirmPassword.errors.required">
                                    <p class="color error" *ngIf="getControl.confirmPassword.invalid">{{'RESETPASSNOTMATCH'| translate}}</p>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-submit">{{'RESET' | translate}}</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>