.main-right {background: url(../../assets/images/reset_bg.png) no-repeat center;background-size: cover;}
.main-right .custom-width h1.head{color: #000;}
.color {color: maroon !important;}
.main-right p.text-center,.main-right p{color: #000;}
.main-right .custom-width .form-control {background-color: #fff !important;}
.fixed-back i.fa {background: #F96BB3;color: #fff;}
.fixed-select button {color: #000;}
.main-right .btn-submit {background: #F96BB3 !important;color: #fff;}
img.drop_img {width: 10px;}
.main-right .custom-width .logo img{width: 120px;}