<div class="main-card">
    <div class="row">
        <div class="col-md-6 top_view"><img src="assets/images/change.png" alt=""><span class="user_name">Allen</span></div>
        <div class="col-md-6 alignright"><a class="btn btn-edit" [routerLink]="['/edit-profile']"> Edit Profile</a></div>
        <div class="col-md-4 label">Email:</div>
        <div class="col-md-8">allen@gmail.com</div>
        <div class="col-md-4 label">Mobile Number:</div>
        <div class="col-md-8">+11 87655 87654</div>
        <div class="col-md-4 label">Location:</div>
        <div class="col-md-8">28 Avenue, New York
            <img src="assets/images/maps.png" alt="map" class="full_width">
        </div>
        <div class="col-md-4 label">Business Hours:</div>
        <div class="col-md-8">10:00AM to 08:00PM</div>
        <div class="col-md-4 label">Reviews:</div>
        <div class="col-md-8"><img src="assets/images/reviews-star.png" alt="Review"></div>
        <div class="col-md-4 label">Description:</div>
        <div class="col-md-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
        <div class="col-md-4 label">Work Gallery:</div>
        <div class="col-md-8">
            <div class="work_gallery">
                <ul>
                    <li><img src="assets/images/view-edit.png" alt=""></li>
                    <li><img src="assets/images/view-edit.png" alt=""></li>
                    <li><img src="assets/images/view-edit.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 label">Website:</div>
        <div class="col-md-8">www.abcd.com</div>
        <div class="col-md-4 label">Service At:</div>
        <div class="col-md-8">Home</div>
        <div class="col-md-4 label">Staff Name:</div>
        <div class="col-md-8">
            <ul class="staff_name">
                <li>Allen</li>
                <li>James</li>
                <li>Jane</li>
                <li>Doe</li>
            </ul>
        </div>
    </div>
</div>












