<!-- <full-calendar
<div class="row dashboard_row">
    <div class="col-md-4 dashboard_col">
        <div class="card">
            No. of Members <span>150</span>
        </div>
    </div>
    <div class="col-md-4 dashboard_col">
        <div class="card">
            No. of Bookings <span>80</span>
        </div>
    </div>
</div>

<p class="warning">*Your commission percentage is 2%.</p>

<full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      eventLimit="true"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      (eventClick)="eventClicked($event)"
    ></full-calendar>  -->
<div class="row dashboard_row">
    <div class="col-md-4 dashboard_col">
        <div class="card">
            No. of Members <span>150</span>
        </div>
    </div>
    <div class="col-md-4 dashboard_col">
        <div class="card">
            No. of Bookings <span>80</span>
        </div>
    </div>
</div>
