<!-- <full-calendar
<div class="row dashboard_row">
    <div class="col-md-4 dashboard_col">
        <div class="card">
            No. of Members <span>150</span>
        </div>
    </div>
    <div class="col-md-4 dashboard_col">
        <div class="card">
            No. of Bookings <span>80</span>
        </div>
    </div>
</div>

<p class="warning">*Your commission percentage is 2%.</p>

<full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      eventLimit="true"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      (eventClick)="eventClicked($event)"
      ></full-calendar>  -->
      <!-- <p>Dummy Data</p> -->
<div class="row dashboard_row">
    <div class="col-md-4 dashboard_col" (click)="route('staff')">
        <div class="card" >
            {{'NUMOFMEM' |  translate}}<span>{{(dashboard && dashboard.staffs)? dashboard.staffs :'NA'}}</span>
        </div>
    </div>
    <div class="col-md-4 dashboard_col" (click)="route('booking')">
        <div class="card">
            {{'NUMOFBOOKING' |  translate}} <span>{{(dashboard && dashboard.bookings)? dashboard.bookings :'NA'}}</span>
        </div>
    </div>
    <div class="col-md-4 dashboard_col" (click)="route('walk-in-customer')">
        <div class="card">
            {{'NUMOFWLKBOOKING' |  translate}} <span>{{(dashboard && dashboard.walkingBooking)? dashboard.walkingBooking :'NA'}}</span>
        </div>
    </div>
</div>
