<div class="main-card">
    <div class="policy_list">
        <div class="left">
            <p>Set your No-Show/Late-Cancellation Policy for Clients.</p>
            <p>Clients will be required to enter a credit card when they book with you in order to enforce your policy.</p>
        </div>
    </div>
    <div class="policy_list">
        <div class="left">
            <p>How strict would you like your policy to be?</p>

            <mat-radio-group aria-label="Select an option" [(ngModel)]="c_policy">
                <mat-radio-button value="1" [disableRipple]="true">Flexible <span>0% Late Cancellation Fee<br>50% No-Show Fee</span></mat-radio-button>
                <mat-radio-button value="2" [disableRipple]="true">Moderate <span>25% Late Cancellation Fee<br>50% No-Show Fee</span></mat-radio-button>
                <mat-radio-button value="3" [disableRipple]="true">Strict <span>50% Late Cancellation Fee<br>100% No-Show Fee</span></mat-radio-button>
              </mat-radio-group>
        </div>
    </div>
    <div class="warning_link">
        <a href="#" class="warning">How does it work?</a>
    </div>
    <div class="text-center">
        <button type="button" (click)="feedbackSubmit()" class="btn btn-submit">Save</button>
    </div>
</div>