<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="main-card">
   
    <div class="notifi_list" *ngFor="let list of list;" (click)="slct()">
        <div class="noti_left"><img [src]="list?.img?((imgurl)+list.img):url" alt="Notification Profile"></div>
        <div class="noti_right">
            {{list?.msg}}
            <span class="right_btn">
                <!-- <a href="javascript:void(0)" [routerLink]="['/booking/info', list?.bk_id]" class="btn btn-accept">View</a> -->
                <!-- <span> -->
                    <a href="javascript:void(0)" class="btn btn-accept">Accept</a>
                    <a href="javascript:void(0)" class="btn btn-decline">Decline</a>
                <!-- </span> -->
            </span>
        </div>
    </div>
    
</div>