<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="main-card">
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            Jane Doe wants to book you for haircut.
            <span class="right_btn">
                <a href="#" class="btn btn-accept">Accept</a>
                <a href="#" class="btn btn-decline">Decline</a>
            </span>
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            Jane Doe wants to book you for haircut.
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            Jane Doe wants to book you for haircut.
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            Jane Doe wants to book you for haircut.
        </div>
    </div>
</div>