// mat-form-field.mat-form-field-type-mat-select.mat-form-field-can-float.mat-form-field-has-label {height: 50px;border: 1px solid #dad9d9;border-radius: 5px;margin-bottom: 20px;}
// .mat-select-value {padding-left: 45px;padding-top: 15px;color: #999;}
// .mat-select-arrow-wrapper{padding: 22px 5px;}
// .mat-select-arrow{color: rgb(249, 107, 179) !important;}


// .mat-form-field-infix,.mat-form-field{width:100%;margin: 0;padding:0;border-top: none;    }
// .mat-form-field-appearance-legacy .mat-form-field-underline,.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label,.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{display: none;}
// .mat-form-field-appearance-legacy .mat-form-field-wrapper{padding-bottom: 0px;}
// button.mat-icon-button.mat-button-base {position: absolute; top: -16px;right: 15px;}
// .mat-form-field-wrapper{margin-bottom: 0px;padding-bottom: 0px;}
// .mat-form-field-appearance-legacy .mat-form-field-label {top: 30px;color: #999;left: 45px;width: calc(100% - 60px);font-size: 14px;}
// .mat-button-wrapper .mat-icon{color: #999;}
// input.form-control {height: 50px;border: 1px solid #dad9d9;padding-left: 45px;border-radius: 7px;margin-bottom: 20px;font-size:14px}
// .form-control:focus {border: 1px solid #dad9d9 !important;}


