<div class="row">
	<div class="col-xl-12">
		<ol class="breadcrumb">
			<li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs;">
				<a [ngClass]="breadcrumb.status === false ? 'not-active' : ''" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
			</li>
		</ol>
	</div>
</div>

<!-- <div class="max-container">
	<div class="sub-header">
		<ol class="breadcrumb" *ngIf="isEdit">
			<li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let i = index; last as last">
				<a *ngIf="!last" [ngClass]="breadcrumb.status === false ? 'not-active' : ''" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
				<a *ngIf="last" [ngClass]="breadcrumb.status === false ? 'not-active' : ''" [routerLink]="breadcrumb.url">{{(isShowEventName?eventName+'&nbsp;&nbsp;/&nbsp;&nbsp;':'')+breadcrumb.label}}</a>
			</li>
		</ol>
		<ol class="breadcrumb" *ngIf="!isEdit">
			<li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let i = index; last as last">
				<a [ngClass]="breadcrumb.status === false ? 'not-active' : ''" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
			</li>
		</ol>
	</div>
</div> -->