<router-outlet></router-outlet>
<div class="main-card">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 label">Offer Name:</div>
                <div class="col-md-9 description">{{detail && detail.name?(detail.name | titlecase):'' }}</div>
                <div class="col-md-3 label">Coupon Code:</div>
                <div class="col-md-9 description">{{detail && detail.code ?(detail.code | uppercase):''}}</div>
                <div class="col-md-3 label">{{"DISCOUNT" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.discount ?detail.discount:'NA'}}%</div>
                <div class="col-md-3 label">{{"MIN_PRICE" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.min_price ? detail.min_price:'NA'}}</div>
                <div class="col-md-3 label">{{"MAXDISCOUNT" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.upto ? detail.upto:'NA'}}</div>
                <div class="col-md-3 label">{{"SERVICE" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.service.length ? (detail.service | titlecase):'Applicable to all Services'}}</div>
                <div class="col-md-3 label">{{"ADBY" | translate}}:</div>
                <div class="col-md-9 description">Salon</div>
                <div class="col-md-3 label">{{"TTL_USES" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.uses ? detail.uses:'NA'}}</div>
                <div class="col-md-3 label">{{"PROMOSTRT" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.frm ? (detail.frm | date : 'dd MMM yyyy'):'' }}</div>
                <div class="col-md-3 label">{{"PROMOEND" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.to ?( detail.to | date : 'dd MMM yyyy'):''}}</div>
                <div class="col-md-3 label">{{"DESCRIPTION" | translate}}:</div>
                <div class="col-md-9 description">{{detail && detail.desc ? detail.desc:''}}</div>
            </div>
        </div>
        <div class="col-md-3 mobile_hidden"></div>


    </div>
</div>
