.file_input img{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    border: 5px solid #e3e3e3;
}

img.file_upload2{height: 100px !important;width: 100px !important;  margin: 5px !important; margin-left: 0px !important; border: 5px solid #e3e3e3;
    position: relative;
    border-radius: 7px;}
.custom_upload1{position: absolute;width: 100px;height: 100%;cursor: pointer;opacity: 0;text-indent: -110px;z-index: 990;}

.detail_content a.btn{position:relative;background: #f96ab3;color: #fff !important; margin: 0;font-size: 17px;margin-right: 15px;padding: 5px 20px;box-shadow: 2px 2px 7px #f96ab3;margin-bottom: 15px;}
.detail_content a.btn span{cursor: pointer;position: absolute;right: 0px;background: #FF2626;height: 22px;width: 22px;border-radius: 50%; font-size: 14px;font-weight: 600;text-align: center;padding: 1px 0px;line-height: 18px;}

.detail_content a.margin_top{position:relative;color: #fff !important; margin: 0;font-size: 17px;margin-right: 15px;margin-bottom: 15px;}
.detail_content a.margin_top span{cursor: pointer;position: absolute;right: 0px;background: #FF2626;height: 22px;width: 22px;border-radius: 50%; font-size: 14px;font-weight: 600;text-align: center;padding: 1px 0px;line-height: 18px;}
.custom_form textarea.form-control {
    padding-top: 17px;
}
.upload-image input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-indent: -110px;
}
.file_div{position: relative;display:inline-block;margin-right: 15px;}
label.block{display: block}
.work_gallery label{display: contents}

// .upload-image {
//     position: relative;
//     height: 100%;
//     display: inline-block;
//     overflow: hidden;
// }

//  .profile  {
//     display:none;
//     margin:10px;
//     }
//      .profile  + label {
//     display:inline-block;
//     margin:20px;
//     padding: 4px 32px;
//     background-color: #FFFFFF;
//     border:solid 1px #666F77;
//     border-radius: 6px;
//     color:#666F77;
//     }
//      .profile :active + label {
//     background-image: none;
//     background-color:#2D6C7A;
//     color:#FFFFFF;
//     }

.mat-form-field.multi_field{display: inline-table !important}
.mat-select.multiselect{border: 1px solid #dad9d9 !important;border-radius: 4px;margin-bottom: 10px;}

.custom_form mat-form-field.mat-form-field.multi_field{border:none}
.custom_form span.email-img.descrip{top: 16px;}
.main-card .setting_list{border-bottom: none;margin-bottom: 20px;padding-bottom: 0;}


@media(max-width:767px){
    .alignright{text-align: right;}
}