<!--sidebar-->
<div class="left-nav">
    <div class="nav-ham"><img src="assets/images/menu.png"  class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle();" alt="ham"></div>
  <div class="logo"><img src="assets/images/tie_logo_white.png" alt="Logo"></div> 
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul>
          <li routerLinkActive="active"><a [routerLink]="['/dashboard']"><img src="assets/images/home.png" alt="Home" class="non-hover"><img src="assets/images/home_black.png" alt="Home" class="hover"><span>{{'DASHBOARD'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/staff']"><img src="assets/images/staff.png" alt="Staff" class="non-hover"><img src="assets/images/staff_black.png" alt="Staff" class="hover"><span>{{'STAFF'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/booking']"><img src="assets/images/bookings.png" alt="Bookings" class="non-hover"><img src="assets/images/bookings_black.png" alt="Bookings" class="hover"><span>{{'BOOKING'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/walkin-customer']"><img src="assets/images/Group 2.png" alt="Users" class="non-hover"><img src="assets/images/Group-2-black.png" alt="Users" class="hover"><span>{{'WALKUSR'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/manage-calender']"><img src="assets/images/calendar.png" alt="Calendar" class="non-hover"><img src="assets/images/calendar_black.png" alt="Calendar" class="hover"><span>{{'MANAGECALENDER'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/promocode']"><img src="assets/images/offer.png" alt="Offers" class="non-hover"><img src="assets/images/offer_black.png" alt="Offers" class="hover"><span>{{'PROMOCODE'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/report/sales']"><img src="assets/images/reports.png" alt="Reports" class="non-hover"><img src="assets/images/reports_black.png" alt="Reports" class="hover"><span>{{'REPORTS'| translate}}</span></a></li>
          <!-- <li routerLinkActive="active"><a [routerLink]="['/staff']"><img src="assets/images/commissions.png" alt="Commissions" class="non-hover"><img src="assets/images/commissions_black.png" alt="Commissions" class="hover"><span>Commissions</span></a></li> -->
          <li routerLinkActive="active"><a [routerLink]="['/chat']"><img src="assets/images/chats.png" alt="CHAT" class="non-hover"><img src="assets/images/chats_black.png" alt="CHAT" class="hover"><span>{{'CHAT'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/cancellation-policy']"><img src="assets/images/cancellation.png" alt="Cancellation" class="non-hover"><img src="assets/images/cancellation_black.png" alt="Cancellation" class="hover"><span>{{'CANCELLATION'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/feedback']"><img src="assets/images/feedback.png" alt="Feedback" class="non-hover"><img src="assets/images/feedback_black.png" alt="Feedback" class="hover"><span>{{'FEEDBACK'| translate}}</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about-us']"><img src="assets/images/about.png" alt="About" class="non-hover"><img src="assets/images/about_black.png" alt="About" class="hover"><span>{{'ABOUTUS'| translate}}</span></a></li>
        </ul>
      </div>
    </nav>
</div> 



<!-- code for hamburgur -->

