.custom_form span.email-img.pass {top: 15px !important;}

.mat-form-field.multi_field{display: inline-table !important}
.mat-select.multiselect{border: 1px solid #dad9d9 !important;border-radius: 4px;margin-bottom: 10px;}

.custom_form mat-form-field.mat-form-field.multi_field{border:none}
p.color.error{    top: 0px !important;}
:host ::ng-deep .ui-inputtext {
    width: 547.5px !important;
  }
  img.cal-img {
    position: absolute;
    z-index: 999;
    padding-top: 15px;
    padding-left: 14px;
    color: #232121;
}