<div class="main-card">
    <div class="custom_form">
        <form action="" [formGroup]='profile' (ngSubmit)="submit()">
            <mat-form-field class="multi_field">
                <span class="email-img pass"><img src="assets/images/service.png" alt="envelope"></span>
                <mat-label>{{'SERVICE'| translate}}</mat-label>
                <mat-select (selectionChange)="slctsrv($event)" class="multiselect">
                    <mat-option *ngFor="let service of services" [value]="service">
                        {{service.cat_name | titlecase}}
                    </mat-option>
                </mat-select>
                <div *ngIf="(submitted && !chips.length)">
                    <p class="color error" *ngIf="!chips.length">{{'SRVREQ'|translate}}</p>
                    <!-- <p class="color error" *ngIf="!getControl.price.errors.required && getControl.price.errors.Invalidphone ">
                        {{'PHNLNGTH'|translate}}</p> -->
                </div>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let chip of chips; let i =index" [disableRipple]="true" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(i, chip)">{{chip.cat_name | titlecase}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <!-- <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip> -->
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/icon_sr.png" alt="envelope"></span>
                <input matInput placeholder="Price" formControlName="price" readonly='true' class="form-control">
            </mat-form-field>
            <div *ngIf="(submitted && getControl.price.errors)">
                <p class="color error" *ngIf="getControl.price.errors.required">{{'PRICREQ'|translate}}</p>
                <!-- <p class="color error" *ngIf="!getControl.price.errors.required && getControl.price.errors.Invalidphone ">
                    {{'PHNLNGTH'|translate}}</p> -->
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/edit-staff.png" alt="envelope"></span>
                <mat-label>{{'STAFF'| translate}}</mat-label>
                <mat-select formControlName="staf_id" (selectionChange)="slctstf()" >
                    <mat-option *ngFor="let staff of staff" [value]="staff">
                        {{staff.name | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="date_time">
                <span ><img class="cal-img" src="assets/images/calendar_form.png" alt="envelope"></span>
                <p-calendar [showTime]="true" formControlName="bookDateTime" icon="pi pi-calendar"  dateFormat="dd M yy"  (onClose)="slctstf()"
                    placeholder="Select appointment date and time" inputStyleClass="form-control" [minDate] = "todaydt" [maxDate] = "max"
                    [readonlyInput]="true"></p-calendar>
            </div>
            <div class="time_tabs">
                <span *ngFor="let slots of slots;">
                    <p>{{slots?.time | date : 'h:mm a'}}</p>
                </span>
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/description.png" alt="envelope"></span>
                <textarea matInput placeholder="{{'DESCRIPTION'| translate}}" class="form-control"
                    formControlName="desc" maxlength="150"></textarea>
            </mat-form-field>
            <div *ngIf="(submitted || getControl.desc.dirty|| getControl.desc.touched) && getControl.desc.errors">
                <p class="color" *ngIf="getControl.desc.errors.required">{{'DESCREQ' | translate}}</p>
                <p class="color" *ngIf="getControl.desc.errors.minlength ">{{'DESCLNGTH'| translate}}</p>
            </div>
            <div *ngIf="(submitted && getControl.staf_id.errors)">
                <p class="color error" *ngIf="getControl.staf_id.errors.required">{{'STFREQ'|translate}}</p>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-submit">Save</button>
            </div>
        </form>
    </div>
</div>