<div class="main-card">
    <div class="custom_form">
        <form action="">
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/category_form.png" alt="envelope"></span>
                <input matInput placeholder="Category" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/service.png" alt="envelope"></span>
                <mat-label>Service At</mat-label>
                <mat-select>
                  <mat-option *ngFor="let service of services" [value]="service.value">
                    {{service.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/price_form.png" alt="envelope"></span>
                <input matInput placeholder="Price" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/calendar_form.png" alt="envelope"></span>
                <input matInput placeholder="Date & Time" class="form-control">
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/edit-staff.png" alt="envelope"></span>
                <input matInput placeholder="Assigned Staff" class="form-control">
            </mat-form-field>
            <div class="text-center">
                <button type="submit" class="btn btn-submit">Save</button>
            </div>
        </form>
    </div>
</div>