.custom_form span.email-img.pass {top: 15px !important;}

.mat-form-field.multi_field{display: inline-table !important}
.mat-select.multiselect{border: 1px solid #dad9d9 !important;border-radius: 4px;margin-bottom: 10px;}

.custom_form mat-form-field.mat-form-field.multi_field{border:none}
p.color.error{    top: 0px !important;}

:host ::ng-deep .ui-calendar{display: block}
:host ::ng-deep .ui-inputtext {
    width: 100% !important;
  }
  .date_time{position: relative;}
  img.cal-img {
    position: absolute;
    z-index: 999;
    top:15px;
    left: 15px;
    color: #232121;
}
.time_tabs{
p{
  margin-bottom: 0;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 2px 8px;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 15px;
  min-width: 85px;
  text-align: center;
  display: inline-block;
  &:hover{
    background: #f96bb3;
    color: #fff;
    border: 1px solid #f96bb3;
    cursor: pointer;
  }
}
}
.time_tabs p.nt_active {background: #e9ecef;color: #c7c7c7 !important;}


@media(max-width:992px){
  :host ::ng-deep .ui-inputtext{padding-left: 45px !important;}
  img.cal-img {
    top:18px;}
}