<div class="main-card">
    <div class="custom_form">
        <form action="">
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/changepassword.png" alt="envelope"></span>
                <input matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'" class="form-control pass-space">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field>
                <span class="email-img pass"><img src="assets/images/changepassword.png" alt="envelope"></span>
                <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" class="form-control pass-space">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field>
                <span class="email-img pass"><img src="assets/images/changepassword.png" alt="envelope"></span>
                <input matInput placeholder="Confirm New Password" [type]="hide ? 'password' : 'text'" class="form-control pass-space">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="text-center">
                <button type="submit" class="btn btn-submit">Save</button>
              </div>
            </form>
    </div>
</div>