<div class="main_bg">
    <div class="fixed-nav">
        <ul>
            <li></li>
            <li></li>
            <li class="active"></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 main-left">
                <div class="full-vertical">
                    <img class="on_board" src="assets/images/img_onboard_3.png" alt="Login">
                    <div class="head">boost your reputation with <span>reviews</span></div>
                </div>
            </div>
            <div class="col-md-6 main-right">
                <div class="fixed-back"><a [routerLink]="['/auth']"><i class="fa fa-angle-left"></i></a></div>
                <div class="fixed-select">
                    <button mat-button [matMenuTriggerFor]="lan_menu">En <img src="assets/images/flag_en.png"
                            alt="England"><img class="drop_img" src="assets/images/dropdown.png" alt=""></button>
                    <mat-menu #lan_menu="matMenu" xPosition="before">
                        <button mat-menu-item>Ar <img src="assets/images/flag_ar.png" alt="England"></button>
                    </mat-menu>
                </div>
                <div class="full-vertical custom-width">
                    <div class="logo"><img src="assets/images/tie_logo_black.png" alt="Logo"></div>
                    <h1 class="head">Reset Password</h1>
                    <p class="text-center">Please enter your new password</p>
                    <div class="login-form">
                        <form name="reset" (ngSubmit)="resetPassword()" [formGroup]="reset">
                            <mat-form-field>
                                <span class="email-img pass"><img src="assets/images/lock.png" alt="envelope"></span>
                                <input matInput placeholder="New Password" [type]="nhide ? 'password' : 'text'"
                                    maxlength="20" (keydown.space)="$event.preventDefault()"
                                    formControlName='newPassword' class="form-control">
                                <button type="button" mat-icon-button matSuffix (click)="nhide = !nhide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{nhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div
                                *ngIf="(submitted || getControl.newPassword.dirty|| getControl.newPassword.touched) && getControl.newPassword.errors">
                                <p class="color" *ngIf="getControl.newPassword.errors.required">{{'RESETPASSREQ'| translate}}
                                </p>
                                <p class="color" *ngIf="getControl.newPassword.errors.minlength ">{{'PASSPATTERN'| translate}}</p>
                                <span *ngIf="!getControl.newPassword.errors.minlength">
                                    <p class="color" *ngIf="getControl.newPassword.errors.pattern">{{'PASSPATTERN'| translate}}</p>
                                </span>
                            </div>
                            <mat-form-field>
                                <span class="email-img pass"><img src="assets/images/lock.png" alt="envelope"></span>
                                <input matInput placeholder="Confirm Password" [type]="chide ? 'password' : 'text'"
                                    maxlength="20" (keydown.space)="$event.preventDefault()"
                                    formControlName='confirmPassword' class="form-control">
                                <button type="button" mat-icon-button matSuffix (click)="chide = !chide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div
                                *ngIf="(submitted || getControl.confirmPassword.dirty|| getControl.confirmPassword.touched) && getControl.confirmPassword.errors">
                                <p class="color" *ngIf="getControl.confirmPassword.errors.required">{{'RESETPASSCNFREQ'| translate}}</p>
                                <span *ngIf="!getControl.confirmPassword.errors.required">
                                    <p class="color" *ngIf="getControl.confirmPassword.invalid">{{'RESETPASSNOTMATCH'| translate}}</p>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-submit">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>