<!-- <hr>
<h1>Under Development.</h1>
<hr>
<h2>Thank you</h2> -->
<div class="main-card">
  <div class="row">
    <div class="col-md-6 add"><a [routerLink]="['/staff/add']"><img src="assets/images/add.png" alt="Add"> Add Staff</a>
    </div>
    <div class="col-md-6 alignright"><a href="javascript:void(0)" (click)="exportCSV(dataSource)" class="btn btn-export">Export</a></div>
  </div>
  <div class="table_wrap" [hidden]="(dataSource.loading$ | async)"> 
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table_scroll" matSort>
      <ng-container matColumnDef="Sno">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let post; let i =index;"> {{(paginator.pageIndex * paginator.pageSize)+i + 1}}  </td>
        <!-- <mat-cell *matCellDef="let post; let i =index;" class="mat-column-userActivity">
          {{(paginator.pageIndex * paginator.pageSize)+i + 1}} </mat-cell> -->
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let element" class="file_img"> <img [src]="element.img? (dataSource.extra$ | async) + element.img : url"  /> </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="review">
        <th mat-header-cell *matHeaderCellDef> Ratings </th>
        <td mat-cell *matCellDef="let element"> <ngx-stars [readonly]="true" [color]="'#f7c133'" [size]="5" [initialStars]="element.avg_rating | round"></ngx-stars> </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button class="action_btn pink"><a [routerLink]="['/staff/info', element._id]"><img src="assets/images/view.png"
                alt="View"></a></button>
          <button class="action_btn black"><a [routerLink]="['/staff/edit', element._id]"><img src="assets/images/edit.png"
                alt="Edit"></a></button>
          <button class="action_btn red" (click)="openDialog(element._id)"><img src="assets/images/delete.png"
              alt="Delete"></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
        <mat-paginator [length]="dataSource.totalCount$ | async" [pageSize]="limitPage[0]" [pageSizeOptions]="limitPage">
        </mat-paginator>
  </div>
  <!-- <ul class="pagination">
      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
</div> -->