.file_img img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid #d6d6d6;
}

// .stars-line{top: 7px !important;}
.mobile_visible .cards .description{padding-top: 0px;}
form{display: initial;margin-left: 15px;}

.mat-column-Action{min-width: 155px;}
.mat-column-phone {min-width: 120px;}


@media(max-width:380px){
    form{margin-left: 0px;}
}
