<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="main-card">
    <div class="row">
        <div class="col-md-12 space_bot">
          <form action="" class="search_field">
            <mat-form-field>
              <span class="email-img search"><img src="assets/images/search.png" alt="envelope"></span>
              <input matInput placeholder="Search" class="form-control">
            </mat-form-field>
          </form>
        </div>
      </div>

    <div class="chat_mgmt">
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            <div class="sub_rightsection">
                <div class="author-review">Jane Doe <span class="alignright">12:43 PM</span></div>
                Hello...
            </div>
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            <div class="sub_rightsection">
                <div class="author-review">Jane Doe <span class="alignright">12:43 PM</span></div>
                Hello...
            </div>
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            <div class="sub_rightsection">
                <div class="author-review">Jane Doe <span class="alignright">12:43 PM</span></div>
                Hello...
            </div>
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            <div class="sub_rightsection">
                <div class="author-review">Jane Doe <span class="alignright">12:43 PM</span></div>
                Hello...
            </div>
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            <div class="sub_rightsection">
                <div class="author-review">Jane Doe <span class="alignright">12:43 PM</span></div>
                Hello...
            </div>
        </div>
    </div>
    <div class="notifi_list">
        <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
        <div class="noti_right">
            <div class="sub_rightsection">
                <div class="author-review">Jane Doe <span class="alignright">12:43 PM</span></div>
                Hello...
            </div>
        </div>
    </div>
</div>
<ul class="pagination">
    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
  </ul>
</div>