<router-outlet></router-outlet>
<div class="main-card">
    <div class="row">
        <div class="col-md-6 top-text">Booking Date: 08 Jan, 2020</div>
        <div class="col-md-6 alignright"><a class="btn btn-export" href="#">PDF</a></div>
        <div class="col-md-12 top_view"><img src="assets/images/change.png" alt=""><span class="user_name">Jane Doe</span></div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 label">Date:</div>
                    <div class="col-md-9 description">22 Oct, 2019</div>
                    <div class="col-md-3 label">Time:</div>
                    <div class="col-md-9 description">10:00AM</div>
                    <div class="col-md-3 label">Booking ID:</div>
                    <div class="col-md-9 description">#QW1234</div>
                    <div class="col-md-3 label">Staff Name:</div>
                    <div class="col-md-9 description">Allen</div>
                    <div class="col-md-3 label">Address:</div>
                    <div class="col-md-9 description">246 Chris Avenue, New York</div>
                    <div class="col-md-12 label">Booking Location:</div>
                    <div class="col-md-12 description"><img class="full_width" src="assets/images/maps.png" alt="Maps"></div>
                    <div class="col-md-3 label">Service At:</div>
                    <div class="col-md-9 description">Salon</div>
                    <div class="col-md-12 label">Services:</div>
                    <div class="col-md-3 label">Hair Wash Basic (Blast Dry)<span>Anybody</span></div>
                    <div class="col-md-9 description alignright">$250.00<span>10:00AM - 11:00AM</span></div>
                    <div class="col-md-3 label">Hair Wash Basic (Blast Dry)<span>You</span></div>
                    <div class="col-md-9 description alignright">$250.00<span>11:00AM - 12:00PM</span></div>
                    <div class="col-md-12 text-center"><a href="#" class="btn btn-submit">Mark as Complete</a></div>
                </div>
            </div>
            <div class="col-md-3 mobile_hidden"></div>
        </div>

        </div>
    </div>
