<div class="main-card">
    <div class="custom_form">
        <form  [formGroup]='profile' (ngSubmit)='update()'>
            <div class="text-center">
                <div class="file_input">
                    <img [src]="url" alt="">
                </div>
                <label for="" class="custom_label upload-image">
                    <input type="file" accept="image/jpeg,image/png" (change)="readUrl($event)">
                    {{'CHNGPIC'| translate}}</label>
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/edit-user.png" alt="envelope"></span>
                <input matInput placeholder="Full Name" class="form-control" formControlName="name" maxlength="100">
            </mat-form-field>
            <div *ngIf="(submitted || getControl.name.dirty|| getControl.name.touched) && getControl.name.errors">
                <p class="color" *ngIf="getControl.name.errors.required">{{'INCRTSTAFFNAME'| translate}}</p>
                <!-- <p class="color" *ngIf="!getControl.name.errors.required && getControl.name.errors.invalidName">
                    {{'INCRTSALONNAME'| translate}}</p> -->
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/email.png" alt="envelope"></span>
                <input matInput placeholder="{{'EMAIL'| translate | titlecase}}" class="form-control"
                formControlName="email" maxlength="100">
            </mat-form-field>
            <div *ngIf="(submitted || getControl.email.dirty|| getControl.email.touched) && getControl.email.errors">
                <p class="color" *ngIf="getControl.email.errors.required">{{'LOGINEMAIL'| translate}}</p>
                <p class="color"
                    *ngIf="!getControl.email.errors.required && getControl.email.errors.invalidEmailAddress">
                    {{'LOGINVALIDEMAIL'| translate}}</p>
            </div>
            <mat-form-field>
                <span class="email-img phone"><img src="assets/images/mobile.png" alt="envelope"></span>
                <input matInput placeholder="{{'PHONE'| translate}}"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                    formControlName="phone" maxlength="12">
            </mat-form-field>
            <div *ngIf="(submitted || getControl.phone.dirty|| getControl.phone.touched) && getControl.phone.errors">
                <p class="color" *ngIf="getControl.phone.errors.required">{{'PHNREQ'|translate}}</p>
                <p class="color" *ngIf="!getControl.phone.errors.required && getControl.phone.errors.Invalidphone ">{{'PHNLNGTH'|translate}}</p>
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/service.png" alt="envelope"></span>
                <mat-label>Service At</mat-label>
                <mat-select>
                    <mat-option *ngFor="let service of services" [value]="service.value">
                        {{service.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let chip of chips; let i =index">{{chip}}</mat-chip>
                    <!-- <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip> -->
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/description.png" alt="envelope"></span>
                <textarea matInput placeholder="{{'DESCRIPTION'| translate}}" class="form-control"
                    formControlName="description" maxlength="500"></textarea>
            </mat-form-field>
            <div
                *ngIf="(submitted || getControl.description.dirty|| getControl.description.touched) && getControl.description.errors">
                <p class="color" *ngIf="getControl.description.errors.required">{{'DESCREQ' | translate}}</p>
                <p class="color" *ngIf="getControl.description.errors.minlength ">{{'DESCLNGTH'| translate}}</p>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-submit">Save</button>
            </div>
        </form>
    </div>
</div>