<div class="main-card">
    <div class="custom_form">
        <form [formGroup]='profile' (ngSubmit)='update()'>
            <div class="text-center">
                <div class="file_input">
                    <img [src]="url" alt="">
                </div>
                <label for="" class="custom_label upload-image">
                    <input type="file" accept="image/jpeg,image/png" (change)="readUrl($event)">
                    {{'EDITSTFCHNGPIC'| translate}}</label>
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/edit-user.png" alt="envelope"></span>
                <input matInput placeholder="Full Name" class="form-control" formControlName="name" maxlength="100">
            </mat-form-field>
            <div *ngIf="(submitted || getControl.name.dirty|| getControl.name.touched) && getControl.name.errors">
                <p class="color error" *ngIf="getControl.name.errors.required">{{'INCRTSTAFFNAME'| translate}}</p>
                <!-- <p class="color error" *ngIf="!getControl.name.errors.required && getControl.name.errors.invalidName">
                    {{'INCRTSALONNAME'| translate}}</p> -->
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/email.png" alt="envelope"></span>
                <input matInput placeholder="{{'EMAIL'| translate | titlecase}}" class="form-control"
                    formControlName="email" maxlength="100">
            </mat-form-field>
            <div *ngIf="(submitted || getControl.email.dirty|| getControl.email.touched) && getControl.email.errors">
                <p class="color error" *ngIf="getControl.email.errors.required">{{'LOGINEMAIL'| translate}}</p>
                <p class="color error"
                    *ngIf="!getControl.email.errors.required && getControl.email.errors.invalidEmailAddress">
                    {{'LOGINVALIDEMAIL'| translate}}</p>
            </div>
            <mat-form-field>
                <span class="email-img phone"><img src="assets/images/mobile.png" alt="envelope"></span>
                <input matInput placeholder="{{'PHONE'| translate}}"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                    formControlName="phone" maxlength="12">
            </mat-form-field>
            <div *ngIf="(submitted || getControl.phone.dirty|| getControl.phone.touched) && getControl.phone.errors">
                <p class="color error" *ngIf="getControl.phone.errors.required">{{'PHNREQ'|translate}}</p>
                <p class="color error" *ngIf="!getControl.phone.errors.required && getControl.phone.errors.Invalidphone ">{{'PHNLNGTH'|translate}}</p>
            </div>
            <mat-form-field>
                <span class="email-img phone"><img src="assets/images/description.png" alt="envelope"></span>
                <input matInput placeholder="{{'DESIGNATION'| translate | titlecase}}" class="form-control"
                    formControlName="designation">
            </mat-form-field>
            <div *ngIf="(submitted || getControl.designation.dirty|| getControl.designation.touched) && getControl.designation.errors">
                <p class="color error" *ngIf="getControl.designation.errors.required">{{'DESREQ'|translate}}</p>
                <p class="color error" *ngIf="!getControl.designation.errors.required && getControl.designation.errors.invalidName ">
                    {{'ONLYLETR'|translate}}</p>
            </div>
            <mat-form-field class="multi_field">
                <span class="email-img pass"><img src="assets/images/service.png" alt="envelope"></span>
                <mat-label>{{'SERVICE'| translate}}</mat-label>
                <mat-select (selectionChange)="slctsrv($event)" class="multiselect">
                    <mat-option *ngFor="let service of services" [value]="service">
                        {{service.cat_name | titlecase}}
                    </mat-option>
                </mat-select>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let chip of chips; let i =index" [disableRipple]="true" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i, chip)">{{chip.cat_name | titlecase}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <!-- <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip> -->
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/service.png" alt="envelope"></span>
                <mat-label>{{'WEEKOFF'| translate}}</mat-label>
                <mat-select formControlName='day_off'>
                    <mat-option *ngFor="let item of weekoff" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
             <div class="setting_list">
                <div class="row">
                    <div class="col-md-6">{{'AVAILBILITY'| translate}}</div>
                    <div class="col-md-6 alignright">
                        <mat-slide-toggle formControlName="isAvailable"></mat-slide-toggle>
                    </div>
                </div>
            </div>
            <mat-form-field>
                <span class="email-img pass"><img src="assets/images/description.png" alt="envelope"></span>
                <textarea matInput placeholder="{{'DESCRIPTION'| translate}}" class="form-control"
                    formControlName="description" maxlength="500"></textarea>
            </mat-form-field>
            <div
                *ngIf="(submitted || getControl.description.dirty|| getControl.description.touched) && getControl.description.errors">
                <p class="color error" *ngIf="getControl.description.errors.required">{{'DESCREQ' | translate}}</p>
                <p class="color error" *ngIf="getControl.description.errors.minlength ">{{'DESCLNGTH'| translate}}</p>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-submit">{{'SAVE' | translate}}</button>
            </div>
        </form>
    </div>
</div>