<div class="main_bg">
    <div class="fixed-nav">
        <ul>
            <li></li>
            <li class="active"></li>
            <li></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 main-left">
                <div class="full-vertical">
                <img class="on_board" src="assets/images/img_onboard_2.png" alt="Forgot">
                <div class="head"><span>Get Paid</span> when clients don't show up</div>
            </div>
            </div>
            <div class="col-md-6 main-right">
                <app-auth-header></app-auth-header>
                <div class="fixed-back"><a [routerLink]="['/auth/login']"><i class="fa fa-angle-left"></i></a></div>
                <div class="full-vertical custom-width">
                    <div class="logo"><img src="assets/images/tie_logo_black.png" alt="Logo"></div>
                    <h1 class="head">Forgot Password</h1>
                    <p class="text-center">Please enter your Registered Email to Reset </p>
                    <div class="login-form">
                        <form  (ngSubmit)="forgetPass()" [formGroup]="forgetPasswordForm">
                        <mat-form-field>
                          <span class="email-img"><img src="assets/images/envelope.png" alt="envelope"></span>
                          <input matInput placeholder="Email" class="form-control" formControlName="email"> 
                        </mat-form-field>
                          <button type="submit" class="btn btn-submit">Continue</button>
                        </form>
                        </div>
                </div>                
            </div>
        </div>
    </div>
</div>