<router-outlet></router-outlet>
<div class="main-card">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 label">Coupon Code:</div>
                <div class="col-md-9 description">New Coupon</div>
                <div class="col-md-3 label">Discount:</div>
                <div class="col-md-9 description">10%</div>
                <div class="col-md-3 label">Max. Discount Amount:</div>
                <div class="col-md-9 description">$350</div>
                <div class="col-md-3 label">Service:</div>
                <div class="col-md-9 description">Hair Spa</div>
                <div class="col-md-3 label">Added By:</div>
                <div class="col-md-9 description">Salon</div>
                <div class="col-md-3 label">Total Uses:</div>
                <div class="col-md-9 description">Unlimited</div>
                <div class="col-md-3 label">From Date:</div>
                <div class="col-md-9 description">01 Jan, 2020</div>
                <div class="col-md-3 label">To Date:</div>
                <div class="col-md-9 description">01 Feb, 2020</div>
                <div class="col-md-3 label">Description:</div>
                <div class="col-md-9 description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
            </div>
        </div>
        <div class="col-md-3 mobile_hidden"></div>


    </div>
</div>
