<div class="main-card">
    <div class="hour-section">
        <form action="">
            <div class="row">
                <div class="col-sm-2 middle day">Sunday</div>
                <div class="col-sm-2 middle"><mat-slide-toggle></mat-slide-toggle></div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Opening Hours" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Closing Hours" class="form-control">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="add"><img src="assets/images/add.png" alt=""> Add Break</div>
    </div>
    <div class="hour-section">
        <form action="">
            <div class="row">
                <div class="col-sm-2 middle day">Monday</div>
                <div class="col-sm-2 middle"><mat-slide-toggle></mat-slide-toggle></div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Opening Hours" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Closing Hours" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4"><div class="add">
                    Add Break</div></div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Start Break" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="End Break" class="form-control">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="hour-section">
        <form action="">
            <div class="row">
                <div class="col-sm-2 middle day">Sunday</div>
                <div class="col-sm-2 middle"><mat-slide-toggle></mat-slide-toggle></div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Opening Hours" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Closing Hours" class="form-control">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="add"><img src="assets/images/add.png" alt=""> Add Break</div>
    </div>
    <div class="hour-section">
        <form action="">
            <div class="row">
                <div class="col-sm-2 middle day">Sunday</div>
                <div class="col-sm-2 middle"><mat-slide-toggle></mat-slide-toggle></div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Opening Hours" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Closing Hours" class="form-control">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="add"><img src="assets/images/add.png" alt=""> Add Break</div>
    </div>
    <div class="hour-section">
        <form action="">
            <div class="row">
                <div class="col-sm-2 middle day">Sunday</div>
                <div class="col-sm-2 middle"><mat-slide-toggle></mat-slide-toggle></div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Opening Hours" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Closing Hours" class="form-control">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="add"><img src="assets/images/add.png" alt=""> Add Break</div>
    </div>
    <div class="hour-section">
        <form action="">
            <div class="row">
                <div class="col-sm-2 middle day">Sunday</div>
                <div class="col-sm-2 middle"><mat-slide-toggle></mat-slide-toggle></div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Opening Hours" class="form-control">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput placeholder="Closing Hours" class="form-control">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="add"><img src="assets/images/add.png" alt=""> Add Break</div>
    </div>
</div>