mat-icon{color: #f96bb3;
    position: relative;
    top: -2px;
    font-size: 30px;}
    .main-header .top-right ul li{position: relative;}
    span.badge{
        position: absolute;
        top: 0;
        color: #fff;
        background: #000;
        height: 24px;
        width: 24px;
        font-size: 12px;
        border-radius: 50%;
        line-height: 18px;
        right: 5px;
    }