<div class="container-fluid">
    <!--right-side-content-->
    <div class="main-header">
        <div class="right-nav">
          <h1>Welcome to our Tie Admin</h1>
          <div class="top-right">
            <ul>
              <li><img src="assets/images/notification.png" alt="Notification"></li>
              <li>
                <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
    
      </div>
    </div>