<div class="container-fluid">
    <!--right-side-content-->
    <div class="main-header">
        <div class="right-nav">
          <h1>{{route}} </h1>
          <div class="top-right">
            <ul>
              <li>
                <button mat-button [matMenuTriggerFor]="lan_menu" [disableRipple]="true">{{lang=='en'?"En":"Ar"}} <img src="{{lang=='en'?'assets/images/flag_en.png':'assets/images/flag_ar.png'}}" alt="England">
                  <img class="drop_img" src="assets/images/dropdown_grey.png" alt="Dropdown"></button>
                <mat-menu #lan_menu="matMenu" xPosition="before">
                  <button class="flag_drop" mat-menu-item (click)="setLang('ua')">Ar <img src="assets/images/flag_ar.png"  alt="England"></button>
                  <button class="flag_drop" mat-menu-item (click)="setLang('en')">En <img src="assets/images/flag_en.png"  alt="England"></button>
                </mat-menu></li>
              <li>              
                <button mat-button [matMenuTriggerFor]="dropdown_notification" [disableRipple]="true"><mat-icon>notifications_none</mat-icon> <span class="badge">{{ttlunread}}</span></button>
                <mat-menu #dropdown_notification="matMenu" xPosition="before">
                    <div [class]="list?.is_read==0?'notifi_list unread' : 'notifi_list'" *ngFor="let list of list;" (click)="slct()">
                        <div class="noti_left"><img [src]="list?.img?((imgurl)+list.img):url" alt="Notification Profile"></div>
                        <div class="noti_right">
                          {{list?.msg}}
                        </div>
                    </div>
                    
                  <div class="text-center"><a [routerLink]="['/notification']">{{'VIEWALL'| translate}}</a></div>
                </mat-menu>
              </li>
              <li>
                <button mat-button [matMenuTriggerFor]="beforeMenu" [disableRipple]="true"><img class="profile_img" src="{{detail.logo}}" alt="ProfileImage">
                 <span class="mobile_hidden"> {{detail.name | titlecase}} Admin</span> <img class="drop_img" src="assets/images/dropdown_grey.png" alt="Dropdown"></button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                  <button  mat-menu-item><a [routerLink]="['/profile']"><img src="assets/images/edit-profile.png" alt="Edit Profile">{{'MPROFILE'| translate}}</a></button>
                  <button  mat-menu-item><a [routerLink]="['/profile/change-password']"><img src="assets/images/password.png" alt="Password">{{'CHNAGE_PASS'| translate}}</a></button>
                  <button  mat-menu-item><a [routerLink]="['/settings']"><img src="assets/images/settings.png" alt="Setting">{{'SETTINGS'| translate}}</a></button>
                  <button  mat-menu-item (click)='logout()'><img src="assets/images/log_out.png" alt="Logout">{{'LOGOUT' | translate}}</button>
                </mat-menu>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
    
      </div>
    </div>