<div class="main-card">
    <div class="row">
        <div class="col-md-6 top-text">Booking Date: 08 Jan, 2020</div>
        <div class="col-md-6 alignright"><a href="#" class="btn btn-export">Export</a></div>
    </div>
    <div class="table_wrap mobile_hidden">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table_scroll">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>User Name</th>
              <td mat-cell *matCellDef="let element"><a [routerLink]="['/walking-user/calender-info/']">{{element.name}}</a></td>
            </ng-container>
          
            <ng-container matColumnDef="service">
              <th mat-header-cell *matHeaderCellDef>Service</th>
              <td mat-cell *matCellDef="let element">{{element.service}}</td>
            </ng-container>
          
            <ng-container matColumnDef="serviceat">
              <th mat-header-cell *matHeaderCellDef>Service At</th>
              <td mat-cell *matCellDef="let element">{{element.serviceat}}</td>
            </ng-container>
          
            <ng-container matColumnDef="staff">
              <th mat-header-cell *matHeaderCellDef>Staff Name</th>
              <td mat-cell *matCellDef="let element">{{element.staff}}</td>
            </ng-container>
          
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
              <td mat-cell *matCellDef="let element">{{element.number}}</td>
            </ng-container>
          
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <!--Please add class for status for diefferent colors ->  confirmed, pending, completed, rejected-->
              <td mat-cell *matCellDef="let element"> {{element.status}} 
                <!-- <span class="confirmed">Confirmed</span> 
                <span class="completed">completed</span> 
                <span class="pending">pending</span> 
                <span class="rejected">rejected</span> -->
              </td>
            </ng-container>
          
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef>Time</th>
              <td mat-cell *matCellDef="let element">{{element.time}}</td>
            </ng-container>
          
            <ng-container matColumnDef="bookingid">
              <th mat-header-cell *matHeaderCellDef>Booking ID</th>
              <td mat-cell *matCellDef="let element">{{element.bookingid}}</td>
            </ng-container>
          
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{element.date}}</td>
            </ng-container>
          
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <!--use same class for accepted as accept and decline for declined-->
              <td mat-cell *matCellDef="let user"> 
              <button class="booking_btn cancel">Cancel</button> 
              <button class="booking_btn accept" (click)="openDialog()">Accept</button>  
              <button class="booking_btn decline" (click)="openDialog()">Decline</button>  
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>


        <div class="card_view mobile_visible">

          <div class="cards">
              <div class="top_info">
                <!--add class for background color confirmed, pending, rejected, completed-->
                <div class="left_status confirmed">confirmed</div>
                <div class="right_status">
                  <ul>
                    <li>22 Oct, 2019</li>
                    <li>10:00AM</li>
                  </ul>
                </div>
              </div>
              <div class="description">
              <p class="user"><img src="assets/images/user-pink.png" alt="User">Jane Doe</p>
              <p class="service"><img src="assets/images/service-pink.png" alt="Service">Haircut, Hair Spa</p>
              <p class="location"><img src="assets/images/location-pink.png" alt="Location">At Home</p>
              <p class="number"><img src="assets/images/mobile-pink.png" alt="Mobile">+919999999999</p>
              <p class="id"><img src="assets/images/id.png" alt="Id">#Q1234</p>
              <div class="buttons">
                <button class="booking_btn cancel">Cancel</button> 
              </div>
          </div>
          </div>
    
          
          <div class="cards">
            <div class="top_info">
              <!--add class for background color confirmed, pending, rejected, completed-->
              <div class="left_status pending">pending</div>
              <div class="right_status">
                <ul>
                  <li>22 Oct, 2019</li>
                  <li>10:00AM</li>
                </ul>
              </div>
            </div>
            <div class="description">
            <p class="user"><img src="assets/images/user-pink.png" alt="User">Jane Doe</p>
            <p class="service"><img src="assets/images/service-pink.png" alt="Service">Haircut, Hair Spa</p>
            <p class="location"><img src="assets/images/location-pink.png" alt="Location">At Clinic</p>
            <p class="number"><img src="assets/images/mobile-pink.png" alt="Mobile">+919999999999</p>
            <p class="id"><img src="assets/images/id.png" alt="Id">#Q1234</p>
            <div class="buttons"><button class="booking_btn decline" (click)="openDialog()">Decline</button> 
            </div>
        </div>
        </div>
    
        
        <div class="cards">
          <div class="top_info">
            <!--add class for background color confirmed, pending, rejected, completed-->
            <div class="left_status rejected">rejected</div>
            <div class="right_status">
              <ul>
                <li>22 Oct, 2019</li>
                <li>10:00AM</li>
              </ul>
            </div>
          </div>
          <div class="description">
          <p class="user"><img src="assets/images/user-pink.png" alt="User">Jane Doe</p>
          <p class="service"><img src="assets/images/service-pink.png" alt="Service">Haircut, Hair Spa</p>
          <p class="location"><img src="assets/images/location-pink.png" alt="Location">At Home</p>
          <p class="number"><img src="assets/images/mobile-pink.png" alt="Mobile">+919999999999</p>
          <p class="id"><img src="assets/images/id.png" alt="Id">#Q1234</p>
          <div class="buttons">
            <button class="booking_btn accept" (click)="openDialog()">Accept</button>  
          </div>
      </div>
      </div>
    
      
      <div class="cards">
        <div class="top_info">
          <!--add class for background color confirmed, pending, rejected, completed-->
          <div class="left_status completed">completed</div>
          <div class="right_status">
            <ul>
              <li>22 Oct, 2019</li>
              <li>10:00AM</li>
            </ul>
          </div>
        </div>
        <div class="description">
        <p class="user"><img src="assets/images/user-pink.png" alt="User">Jane Doe</p>
        <p class="service"><img src="assets/images/service-pink.png" alt="Service">Haircut, Hair Spa</p>
        <p class="location"><img src="assets/images/location-pink.png" alt="Location">At Home</p>
        <p class="number"><img src="assets/images/mobile-pink.png" alt="Mobile">+919999999999</p>
        <p class="id"><img src="assets/images/id.png" alt="Id">#Q1234</p>
        <div class="buttons">
          <button class="booking_btn decline" (click)="openDialog()">Decline</button> 
        </div>
    </div>
    </div>
          
        </div>

      <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      </ul>
  </div>