@media(max-width:992px){
    .main-card .col-md-3.label,.main-card .col-md-9.description,.main-card .col-md-12.label,.main-card .col-md-12.description{padding: 0px 30px;}
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }