<div class="main-card">
    <div class="row">
        <div class="col-md-6 add"><a [routerLink]="['/promocode/promocode-add']"><img src="assets/images/add.png" alt="Add">Add Promo code</a></div>
        <div class="col-md-6 alignright">
          <a href="#" class="btn btn-export">Export</a>
          <form action="" class="search_field">
            <mat-form-field>
              <span class="email-img search"><img src="assets/images/search.png" alt="envelope"></span>
              <input matInput placeholder="Search" class="form-control">
            </mat-form-field>
          </form>
        </div>
      </div>
    <div class="table_wrap mobile_hidden">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table_scroll">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>
      
        <ng-container matColumnDef="coupon">
          <th mat-header-cell *matHeaderCellDef>Coupon Code</th>
          <td mat-cell *matCellDef="let element">{{element.coupon}}</td>
        </ng-container>
      
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef>Discount</th>
          <td mat-cell *matCellDef="let element">{{element.discount}}</td>
        </ng-container>
      
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef>Service</th>
          <td mat-cell *matCellDef="let element">{{element.service}}</td>
        </ng-container>
      
        <ng-container matColumnDef="added">
          <th mat-header-cell *matHeaderCellDef>Added By</th>
          <td mat-cell *matCellDef="let element">{{element.added}}</td>
        </ng-container>
      
        <ng-container matColumnDef="uses">
          <th mat-header-cell *matHeaderCellDef>Total Uses</th>
          <td mat-cell *matCellDef="let element">{{element.uses}}</td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>From</th>
            <td mat-cell *matCellDef="let element">{{element.from}}</td>
        </ng-container>

        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>To</th>
            <td mat-cell *matCellDef="let element">{{element.to}}</td>
        </ng-container>
      
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let user"> 
          <button class="action_btn pink"><a [routerLink]="['/promocode/promocode-info']"><img src="assets/images/view.png" alt="View"></a></button>  
          <button class="action_btn black"><a><img src="assets/images/edit.png" alt="Edit"></a></button>  
          <button class="action_btn red" (click)="openDialog()"><img src="assets/images/delete.png" alt="Delete"></button>  
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="card_view mobile_visible">
      <div class="cards">
        <div class="description">
          <p class="coupon"><img src="assets/images/code-pink.png" alt="">New Coupon</p>
          <p class="discount"><img src="assets/images/discount-pink.png" alt="">10%</p>
          <p class="number"><img src="assets/images/service-pink.png" alt="">Hair Spa</p>
          <p class="review"><img src="assets/images/location-pink.png" alt="">Salon</p>
          <p class="uses"><img src="assets/images/uses-pink.png" alt="">Unlimited</p>
          <p class="from"><img src="assets/images/time-pink.png" alt="">01 Jan, 2020</p>
          <p class="to"><img src="assets/images/time-pink.png" alt="">01 Feb, 2020</p>
          <div class="buttons">
          <button class="action_btn pink"><a [routerLink]="['/promocode/promocode-info']">View</a></button>  
          <button class="action_btn black"><a>Edit</a></button>  
          <button class="action_btn red" (click)="openDialog()">Delete</button>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="description">
          <p class="coupon"><img src="assets/images/code-pink.png" alt="">New Coupon</p>
          <p class="discount"><img src="assets/images/discount-pink.png" alt="">10%</p>
          <p class="number"><img src="assets/images/service-pink.png" alt="">Hair Spa</p>
          <p class="review"><img src="assets/images/location-pink.png" alt="">Salon</p>
          <p class="uses"><img src="assets/images/uses-pink.png" alt="">Unlimited</p>
          <p class="from"><img src="assets/images/time-pink.png" alt="">01 Jan, 2020</p>
          <p class="to"><img src="assets/images/time-pink.png" alt="">01 Feb, 2020</p>
          <div class="buttons">
          <button class="action_btn pink"><a [routerLink]="['/promocode/promocode-info']">View</a></button>  
          <button class="action_btn black"><a>Edit</a></button>  
          <button class="action_btn red" (click)="openDialog()">Delete</button>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="description">
          <p class="coupon"><img src="assets/images/code-pink.png" alt="">New Coupon</p>
          <p class="discount"><img src="assets/images/discount-pink.png" alt="">10%</p>
          <p class="number"><img src="assets/images/service-pink.png" alt="">Hair Spa</p>
          <p class="review"><img src="assets/images/location-pink.png" alt="">Salon</p>
          <p class="uses"><img src="assets/images/uses-pink.png" alt="">Unlimited</p>
          <p class="from"><img src="assets/images/time-pink.png" alt="">01 Jan, 2020</p>
          <p class="to"><img src="assets/images/time-pink.png" alt="">01 Feb, 2020</p>
          <div class="buttons">
          <button class="action_btn pink"><a [routerLink]="['/promocode/promocode-info']">View</a></button>  
          <button class="action_btn black"><a>Edit</a></button>  
          <button class="action_btn red" (click)="openDialog()">Delete</button>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="description">
          <p class="coupon"><img src="assets/images/code-pink.png" alt="">New Coupon</p>
          <p class="discount"><img src="assets/images/discount-pink.png" alt="">10%</p>
          <p class="number"><img src="assets/images/service-pink.png" alt="">Hair Spa</p>
          <p class="review"><img src="assets/images/location-pink.png" alt="">Salon</p>
          <p class="uses"><img src="assets/images/uses-pink.png" alt="">Unlimited</p>
          <p class="from"><img src="assets/images/time-pink.png" alt="">01 Jan, 2020</p>
          <p class="to"><img src="assets/images/time-pink.png" alt="">01 Feb, 2020</p>
          <div class="buttons">
          <button class="action_btn pink"><a [routerLink]="['/promocode/promocode-info']">View</a></button>  
          <button class="action_btn black"><a>Edit</a></button>  
          <button class="action_btn red" (click)="openDialog()">Delete</button>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="description">
          <p class="coupon"><img src="assets/images/code-pink.png" alt="">New Coupon</p>
          <p class="discount"><img src="assets/images/discount-pink.png" alt="">10%</p>
          <p class="number"><img src="assets/images/service-pink.png" alt="">Hair Spa</p>
          <p class="review"><img src="assets/images/location-pink.png" alt="">Salon</p>
          <p class="uses"><img src="assets/images/uses-pink.png" alt="">Unlimited</p>
          <p class="from"><img src="assets/images/time-pink.png" alt="">01 Jan, 2020</p>
          <p class="to"><img src="assets/images/time-pink.png" alt="">01 Feb, 2020</p>
          <div class="buttons">
          <button class="action_btn pink"><a [routerLink]="['/promocode/promocode-info']">View</a></button>  
          <button class="action_btn black"><a>Edit</a></button>  
          <button class="action_btn red" (click)="openDialog()">Delete</button>
          </div>
        </div>
      </div>
    </div>


      <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      </ul>
  </div>