<router-outlet></router-outlet>
<div class="main-card">
    <div class="row">
        <div class="col-md-12 top_view"><img src="assets/images/change.png" alt=""><span class="user_name">Jane Doe</span></div>
        <div class="col-md-4 label">Email:</div>
        <div class="col-md-8">jane@gmail.com</div>
        <div class="col-md-4 label">Mobile Number:</div>
        <div class="col-md-8">+91 99999 99999</div>
        <div class="col-md-4 label">Reviews:</div>
        <div class="col-md-8"><img src="assets/images/reviews-star.png" alt="Review"></div>
        <div class="col-md-4 label">Description:</div>
        <div class="col-md-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
        <div class="col-md-12 alignright"><a [routerLink]="['review']" class="btn btn-link">View All</a></div>
        <div class="col-md-12">
            <h3>Reviews:</h3>
        </div>
        <div class="staffdetail_notifi">
            <div class="notifi_list">
                <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
                <div class="noti_right">
                    <div class="author-review">
                    <div class="author">James Walker</div>
                    <div class="reviews"><img src="assets/images/reviews-star.png" alt="Review"></div>
                </div>
                    Lorem ipsum is placeholder text commonly used in the graphic, print.
                </div>
            </div>
            <div class="notifi_list">
                <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
                <div class="noti_right">
                    <div class="author-review">
                    <div class="author">James Walker</div>
                    <div class="reviews"><img src="assets/images/reviews-star.png" alt="Review"></div>
                </div>
                Lorem ipsum is placeholder text commonly used in the graphic, print. Lorem ipsum is placeholder text.
                </div>
            </div>
            <div class="notifi_list">
                <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
                <div class="noti_right">
                    <div class="author-review">
                    <div class="author">James Walker</div>
                    <div class="reviews"><img src="assets/images/reviews-star.png" alt="Review"></div>
                </div>
                    Lorem ipsum is placeholder text commonly used in the graphic, print.
                </div>
            </div>
            <div class="notifi_list">
                <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
                <div class="noti_right">
                    <div class="author-review">
                    <div class="author">James Walker</div>
                    <div class="reviews"><img src="assets/images/reviews-star.png" alt="Review"></div>
                </div>
                Lorem ipsum is placeholder text commonly used in the graphic, print. Lorem ipsum is placeholder text.
                </div>
            </div>
            <div class="notifi_list">
                <div class="noti_left"><img src="assets/images/noti-pro.png" alt=""></div>
                <div class="noti_right">
                    <div class="author-review">
                    <div class="author">James Walker</div>
                    <div class="reviews"><img src="assets/images/reviews-star.png" alt="Review"></div>
                </div>
                    Lorem ipsum is placeholder text commonly used in the graphic, print.
                </div>
            </div>

        </div>
    </div>
</div>
