<div class="main-card">
    <div class="row">
        <div class="col-md-12 top_view"><img [src]="url" alt=""><span class="user_name">{{detail?.name | titlecase }}</span></div>
        <div class="col-md-3 label">{{'EMAIL'| translate | titlecase}}:</div>
        <div class="col-md-9 description">{{detail && detail.email ? detail.email:'NA'}}</div>
        <div class="col-md-3 label">{{'MOBILENUMBER'| translate}}:</div>
        <div class="col-md-9 description">{{detail && detail.phone}}</div>
        <div class="col-md-3 label">{{'REVIEWS'| translate}}:</div>
        <div class="col-md-9 description"><img src="assets/images/reviews-star.png" alt="Review"></div>
        <div class="col-md-3 label">{{'DESCRIPTION'| translate}}:</div>
        <div class="col-md-9 description">{{detail && detail.desc?detail.desc:'NA'}}</div>
        <div class="col-md-3 label">{{'DESIGNATION'| translate}}:</div>
        <div class="col-md-9 description">{{detail && detail.designation ?detail.designation:'NA'}}</div>
        <div class="col-md-12 alignright"><a [routerLink]="['review']" class="btn btn-link">View All</a></div>
        <div class="col-md-12">
            <h3>{{'REVIEWS'| translate}}:</h3>
        </div>
        <div class="staffdetail_notifi">
            <div class="staffdetail_notifi" *ngIf="detail">
                <div class="notifi_list" *ngFor="let review of detail.reviews">
                    <div class="noti_left"><img [src]="review.img? (detail.usr_bp + review.img):usrurl" alt=""></div>
                    <div class="noti_right">
                        <div class="author-review">
                            <div class="author">{{review.name | titlecase}}</div>
                            <div class="reviews">
                                <div class="staffdetail_staff"><ngx-stars [readonly]="true" [color]="'#f7c133'" [size]="5" [initialStars]="review.rvw_rt"></ngx-stars></div>
                            </div>
                        </div>
                        {{review.comment}}
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
