/*-----------scroll-top-top--------------*/
.scrolltop {display:none;width:100%;	margin:0 auto;position:fixed;bottom:50px;right:5px;z-index:999}
.scroll {position:absolute;right:10px;bottom:20px;background:#356fc8;text-align: center;cursor:pointer;transition: 0.5s;color:#fff;height: 45px;width: 45px;border-radius: 100%;padding-top: 5px;}
.scroll:hover {background:#5080b3;transition: 0.5s;}
.scroll .fa {font-size:30px;transition: 0.5s;}