<div class="top_chat">
    <div class="left_name"><img src="assets/images/noti-pro.png" alt="Notification Profile">John Doe <span class="status">8 mins ago</span></div>
    <!-- <div class="right_more">
    <button mat-button [matMenuTriggerFor]="more_menu" [disableRipple]="true"><img src="assets/images/more.png" alt="More"></button>
      <mat-menu #more_menu="matMenu" xPosition="before">
        <button mat-menu-item><img src="assets/images/delete_grey.png" alt="Delete"> Delete</button>
      </mat-menu>
    </div> -->
</div>
<div class="content">
    <div class="absolute_text">
        <div class="message_chat received">Hello <span class="right_time">10:21 AM</span></div>
        <div class="message_chat sent">Hi, how can I help you? <span class="right_time">10:21 AM</span></div>
        <div class="message_chat received">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="right_time">10:21 AM</span></div>
        <div class="message_chat sent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="right_time">10:21 AM</span></div> 
    </div>
 </div>
<div class="type_msg">
   <input type="text" placeholder="Type message"> 
   <span class="right"><input type="submit" class="btn btn-chat" value="Send"></span>
</div>