<div class="main-card">

    <div class="row">
        <div class="col-md-6 top_view"><img [src]="url" alt=""><span class="user_name">{{detail?.name}}</span></div>
        <div class="col-md-6 alignright"><a class="btn btn-edit" [routerLink]="['/profile/edit']"> {{'EDITPROF'| translate}}</a></div>
        <div class="col-md-3 label">{{'EMAIL'| translate | titlecase}}:</div>
        <div class="col-md-9 description">{{detail?.email}}</div>
        <div class="col-md-3 label">{{'MOBILENUMBER'| translate}}:</div>
        <div class="col-md-9 description">{{detail?.phone}}</div>
        <div class="col-md-3 label">{{'LOCATION'| translate}}:</div>
        <div class="col-md-9 description">{{detail?.address}}
            <!-- <img src="assets/images/maps.png" alt="map" class="full_width"> -->
            <div class="map full_width">
                <agm-map [latitude]="detail?.lat" [longitude]="detail?.lng"
                    [zoomControl]="true">
                    <agm-marker [latitude]="detail?.lat" [longitude]="detail?.lng"></agm-marker>
                </agm-map>
            </div>
        </div>
        <div class="col-md-3 label">{{'BUSINESSHOURS'| translate}}:</div>
        <div class="col-md-9 description">NA</div>
        <div class="col-md-3 label">{{'REVIEWS'| translate}}:</div>
        <div class="col-md-9 description"><img src="assets/images/reviews.png" alt="Review"></div>
        <div class="col-md-3 label">{{'DESCRIPTION'| translate}}:</div>
        <div class="col-md-9 description">{{detail?.desc}}</div>
        <div class="col-md-3 label">{{'WORKGALLERY'| translate}}:</div>
        <div class="col-md-9 description">
            <div class="work_gallery">
                <label class="detail_content"><a class="margin_top"
                    *ngFor="let image of salonImageUrlArray; index as i">
                    <img class="file_upload2" [src]="image" alt="Upload">
                     </a>
                    <!-- <img class="file_upload1" src="assets/images/add-edit.png" alt="Upload"> -->
                </label>
            </div>
        </div>
        <div class="col-md-3 label">{{'WEBSITE'| translate}}:</div>
        <div class="col-md-9 description">{{detail?.website}}</div>
        <div class="col-md-3 label">{{'SERVICEAT'| translate}}:</div>
        <div class="col-md-9 description">{{detail?.service_at == 1?'Home': detail?.service_at==2?'Salon':'Both'}}</div>
        <div class="col-md-3 label">{{'STAFFNAME'| translate}}:</div>
        <div class="col-md-9 description">
            {{'NA'}}
            <!-- <ul class="staff_name">
                <li>Allen</li>
                <li>James</li>
                <li>Jane</li>
                <li>Doe</li>
            </ul> -->
        </div>
    </div>
</div>











