.custom_form span.email-img.pass {
    top: 16px;
}

@media(min-width:767px){
.custom_form .col-md-6.left{padding-right: 6px;}
.custom_form .col-md-6.right{padding-left: 6px;}
}

.mat-form-field.multi_field{display: inline-table !important}
.mat-select.multiselect{border: 1px solid #dad9d9 !important;border-radius: 4px;margin-bottom: 10px;}