<div class="main-card">
    <div class="policy_list">
        <div class="left">You have the option of charging a No-Show/Late-Cancellation fee.</div>
        <div class="right">
            <a href="#" class="btn btn-charge">Charge</a>
            <a href="#" class="btn btn-notcharge">Don't Charge</a>
        </div>
    </div>
    <div class="policy_list">
        <div class="left">Your selected cancellation policy</div>
        <div class="right">
            <p class="pink">Moderate</p>
            <p>25% Late cancellation fee<br>50% No-show fee</p>
        </div>
    </div>
    <div class="update_btn">
        <a [routerLink]="['/cancellation-policy/update-policy']" class="btn-link">Update Policy</a>
    </div>
</div>